.btnLogin {
 // width: 18rem;
  background-color: #008cc3;
}

.position-center {
  text-align: center;
}

.icon-car {
  color: #008cc3;
}

.p-card {
  background-color: rgba(0, 0, 0, 0.816);
  color: aliceblue;
}

.title-position {
  margin-left: 0;
}
