<div class="grid md:justify-content-center align-items-center flex-wrap card-container m-4">

      <div class="grid md:justify-content-center align-items-center w-20rem p-card m-4">

        <div class="grid md:justify-content-center align-items-center w-8rem m-4">

          <i class="fa-solid fa-car fa-4x icon-car"></i>
          <h2>Car Sales</h2>
        </div>

        <div class="grid md:justify-content-left  text-white border-round m-2">

          <label for="" class="ml-3">Usuário:</label>
          <div class="grid md:justify-content-center  text-white border-round m-2">

            <input [(ngModel)]="requestLogin.login" class="w-18rem h-2rem m-1" type="text" pInputText />
          </div>
        </div>
        <div class="grid md:justify-content-left  text-white border-round m-2">

          <label for="" class="ml-3">Senha:</label>
          <div class="grid md:justify-content-center  text-white border-round m-1">

            <input [(ngModel)]="requestLogin.password" class="w-18rem h-2rem m-2" type="password" pInputText />
          </div>
        </div>

        <div class="grid md:justify-content-center align-items-center text-white border-round m-3">

          <button (click)="doLogin()" class="btnLogin w-18rem" pButton type="button" label="Entrar" ></button>
        </div>
      </div>
</div>



